name: Deploy Docs

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Install MkDocs
        run: |
          pip install mkdocs-material

      - name: Install MkDocs
        run: |
          pip install mike

      - name: Deploy to GitHub Pages
        run: mkdocs gh-deploy --force